[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp
	branch = 3.x
[submodule "libigl"]
	path = external/libigl
	url = https://github.com/libigl/libigl.git
[submodule "eigen"]
	path = external/eigen
	url = https://gitlab.com/libeigen/eigen.git
